@model IEnumerable<Mosaic.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassOneNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassTwoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassOneNavigation.ClassCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassTwoNavigation.ClassCode)
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Menu">Back to Main Menu</a>
</div>